.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70vw;
  margin-top: 20vh;
  transform: translateX(-5%);
  border-radius: calc(min(5vw + 5vh,50px));
  overflow: hidden;
  background-color: rgba(87, 87, 255, 0.5); /* Add transparency to the background color */
  backdrop-filter: blur(10px); /* Add blur effect */
}

.avatar {
  width: 100px;
  height: 100px;
}

.avatar-container {
  flex: 2;
  transform: translateX(10%);
}

.title-container {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-title {
  /* Define styles for your main title */
  font-family: Arial, sans-serif;
  font-size: 48px;
  font-weight: bold;
}

.sub-title {
  /* Define styles for your sub title */
  font-family: Arial, sans-serif;
  font-size: 32px;
}
@media only screen and (max-aspect-ratio: 1) {
  .header {
    flex-direction: column;
    align-items: center;
  }
  .header .avatar-container {
    display: flex;
    justify-content: center;
    margin-top: 12%;
    flex: 2;
    transform: none;
  }

  .header .title-container .main-title,
  .header .title-container .sub-title {
    display: none;
  }

  .header .title-container .mobile-title {
    flex: 3;
    display: block;
    text-align: center; /* Center the title */
  }
}

@media only screen and (min-aspect-ratio: 1) {
  .header .title-container .mobile-title {
    display: none; /* Hide the mobile title in desktop mode */
  }
}